[printer]
kinematics: corexy
max_velocity: 650  
max_accel: 12500             #Max 10000
max_accel_to_decel: 12500
max_z_velocity: 60          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 500
square_corner_velocity: 10.0

[input_shaper]
shaper_freq_x: 53.8
shaper_type_x: mzv
shaper_freq_y: 39.8
shaper_type_y: mzv

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PG6
position_min: -22
position_endstop: 325
position_max: 325
##--------------------------------------------------------------------
homing_speed: 100   #Max 100
homing_retract_dist: 3
homing_positive_dir: true
##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0


[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PG9
position_min: 0
position_endstop: 350 #345 is solid, testing 350
position_max: 350 #345 is solid, testing 350
##--------------------------------------------------------------------
homing_speed: 100  #Max 100
homing_retract_dist: 3
homing_positive_dir: true
##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop #Use Probe For Endstop
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
position_max: 290

##--------------------------------------------------------------------
position_min: -5
homing_speed: 15
second_homing_speed: 3
homing_retract_dist: 3

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
## (ADD THIS SECTION TO YOUR BELT STEPPER) Printer Belt Stepper Settings
## This Defines The Motor For The Belt Assembly
#####################################################################
## manual_stepper belt_drives - Left Side Of Belt Drive Assembly
## Connected to motor on belt system
## Driver 7 On BTT Octopus 1.1 Main Board 
## You Will Have To Change Pinout Information For Other Main Boards
## No End Stop
[manual_stepper belt_drives]
step_pin: PE6
dir_pin: PA14
enable_pin: !PE0
rotation_distance: 40
gear_ratio: 1:3
microsteps: 16
full_steps_per_rotation:200

[tmc2209 manual_stepper belt_drives]
uart_pin: PD3
interpolate: false
run_current: 1.75
hold_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 1
