[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:    
  M400                           ; wait for buffer to clear
  #TURN_OFF_HEATERS
  M104 S100 ; turn down hotend
  {% if printer["gcode_macro CONFIG"].current == printer["gcode_macro CONFIG"].belt %}
    M140 S60 ; turn down bed
  {% endif %}
  M106 S0 ; turn off part fan
  M204 S12500
  CLEAR_WORK_OFFSET
  PARK
  SET_FILAMENT_SENSOR SENSOR=FILAMENT ENABLE=0 #disable filament sensor, some weird things happening when the printer is stopped filament it fed through and extruded
  G1 E-5 F5000                 ; retract filament
  G92 E0                         ; zero the extruder
  CLEAR_PAUSE
  SET_IDLE_TIMEOUT TIMEOUT=3600 # set back to 1 hour after print stops