[gcode_macro MOVE_TEST]
gcode:
    {% set max_x = printer.toolhead.axis_maximum.x|float-5 %}
    {% set max_y = printer.toolhead.axis_maximum.y|float-5 %}
    # micro box
    g90
    g1 x{max_x*0.48} y{max_y*0.48} z20 F200000
    g1 x{max_x*0.52}
    g1 y{max_y*0.52}
    g1 x{max_x*0.48}
    g1 y{max_y*0.48}
    g1 x{max_x*0.52} y{max_y*0.48}
    g1 x{max_x*0.48} y{max_y*0.48}
    g1 x{max_x*0.48} y{max_y*0.52}
    g1 x{max_x*0.52} y{max_y*0.48}
    g1 x{max_x*0.48} y{max_y*0.48}
    g1 x{max_x*0.52}
    g1 y{max_y*0.52}
    g1 x{max_x*0.48}
    g1 y{max_y*0.48}
    g1 x{max_x*0.52} y{max_y*0.52}
    g1 x{max_x*0.48} y{max_y*0.48}
    g1 x{max_x*0.48} y{max_y*0.52}
    g1 x{max_x*0.52} y{max_y*0.48}
    g1 x{max_x*0.48} y{max_y*0.48}
    g1 x{max_x*0.52}
    g1 y{max_y*0.52}
    g1 x{max_x*0.48}
    g1 y{max_y*0.48}
    g1 x{max_x*0.52} y{max_y*0.52}
    g1 x{max_x*0.48} y{max_y*0.48}
    g1 x{max_x*0.48} y{max_y*0.52}
    g1 x{max_x*0.52} y{max_y*0.48}
    g1 x{max_x*0.48} y{max_y*0.48}
    # small box
    g1 x{max_x*0.45} y{max_y*0.45} z20 F200000
    g1 x{max_x*0.55}
    g1 y{max_y*0.55}
    g1 x{max_x*0.45}
    g1 y{max_y*0.45}
    g1 x{max_x*0.55} y{max_y*0.45}
    g1 x{max_x*0.45} y{max_y*0.45}
    g1 x{max_x*0.45} y{max_y*0.55}
    g1 x{max_x*0.55} y{max_y*0.45}
    g1 x{max_x*0.45} y{max_y*0.45}
    g1 x{max_x*0.55}
    g1 y{max_y*0.55}
    g1 x{max_x*0.45}
    g1 y{max_y*0.45}
    g1 x{max_x*0.55} y{max_y*0.55}
    g1 x{max_x*0.45} y{max_y*0.45}
    g1 x{max_x*0.45} y{max_y*0.55}
    g1 x{max_x*0.55} y{max_y*0.45}
    g1 x{max_x*0.45} y{max_y*0.45}
    g1 x{max_x*0.55}
    g1 y{max_y*0.55}
    g1 x{max_x*0.45}
    g1 y{max_y*0.45}
    g1 x{max_x*0.55} y{max_y*0.55}
    g1 x{max_x*0.45} y{max_y*0.45}
    g1 x{max_x*0.45} y{max_y*0.55}
    g1 x{max_x*0.55} y{max_y*0.45}
    g1 x{max_x*0.45} y{max_y*0.45}
    # med box
    g1 x{max_x*0.30} y{max_y*0.30} z20 F200000
    g1 x{max_x*0.70}
    g1 y{max_y*0.70}
    g1 x{max_x*0.30}
    g1 y{max_y*0.30}
    g1 x{max_x*0.70} y{max_y*0.30}
    g1 x{max_x*0.30} y{max_y*0.30}
    g1 x{max_x*0.30} y{max_y*0.70}
    g1 x{max_x*0.70} y{max_y*0.30}
    g1 x{max_x*0.30} y{max_y*0.30}
    g1 x{max_x*0.70}
    g1 y{max_y*0.70}
    g1 x{max_x*0.30}
    g1 y{max_y*0.30}
    g1 x{max_x*0.70} y{max_y*0.70}
    g1 x{max_x*0.30} y{max_y*0.30}
    g1 x{max_x*0.30} y{max_y*0.70}
    g1 x{max_x*0.70} y{max_y*0.30}
    g1 x{max_x*0.30} y{max_y*0.30}
    g1 x{max_x*0.70}
    g1 y{max_y*0.70}
    g1 x{max_x*0.30}
    g1 y{max_y*0.30}
    g1 x{max_x*0.70} y{max_y*0.70}
    g1 x{max_x*0.30} y{max_y*0.30}
    g1 x{max_x*0.30} y{max_y*0.70}
    g1 x{max_x*0.70} y{max_y*0.30}
    g1 x{max_x*0.30} y{max_y*0.30}
    # large box
    g1 x5 y5 z20 F200000
    g1 x{max_x}
    g1 y{max_y}
    g1 x5
    g1 y5
    g1 x{max_x} y{max_y}
    g1 x5 y5
    g1 x5 y{max_y}
    g1 x{max_x} y5
    g1 x5 y5
    g1 x{max_x}
    g1 y{max_y}
    g1 x5
    g1 y5
    g1 x{max_x} y{max_y}
    g1 x5 y5
    g1 x5 y{max_y}
    g1 x{max_x} y5
    g1 x5 y5
    g1 x{max_x}
    g1 y{max_y}
    g1 x5
    g1 y5
    g1 x{max_x} y{max_y}
    g1 x5 y5
    g1 x5 y{max_y}
    g1 x{max_x} y5
    g1 x5 y5
    G4 P1000
    g90